{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>A blog dedicated to free technology information for all</p>
  </div>
  <div id="action-buttons">
    <a class="button primary big" href="/blog/">Get Started</a>
    <p>New posts are made weekly!</p>
  </div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
